<h1>Sign-up page</h1>

<h2>Sign-Up</h2>
    <form action="/signup" method="POST">
        <P>Name: <input type="text" name="username"></P>
        <P>E-Mail: <input type="text" name="email"></P>
        <P>Password: <input type="text" name="password"></P>
        <input class="btn btn-primary" type="submit"> 
    </form>